html {
	margin: auto 0;
	padding: 0;
	border: 0;
}
body {
	margin: auto 0;
	padding: 0;
	border: 0;
	background-color: #161616;
}
.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}
#nav-bar-centre {
	border:0px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

#nav-bar-centre ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcfc;
}

#nav-bar-centre li {
	margin: auto;
    text-align: center;
    display:inline;
}

#nav-bar-centre li a {
    display: inline-block;
    color: #303030;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 5px 40px;
    font-family: verdana;
    font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
#nav-bar-centre li a:hover {
	color: red;
	transition-duration: 0.5s;
}

#container {
    width: 91%;
    margin: auto;
    height: 350px;
}

#musiccontainer {
    float: left;
    width: 250px;
    opacity: 0.9;
    height: 300px;
    margin: 20px;
}

#musiccontainer img{
    width: 100%;
    height: 200px;
    background-color:#1e1e1e;
}

#musiccontainer p{
    margin-left: 10%;
    font-family: arial;
    margin: auto 0;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
    padding:;
}

#line {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    margin-left: 5%;
}

#line2 {
    width: 250px;
    height: 1px;
    background-color: #6b6b6b;
    margin-left: 5%;
}

h2 {
    font-family: arial;
    color: white;
    font-weight: 200;
    text-align: left;
}

h3 {
    font-family: arial;
    color: whitex;
    font-weight: 100;
}

