html {
	margin: auto 0;
	padding: 0;
	border: 0;
}
body {
	margin: auto 0;
	padding: 0;
	border: 0;
}

#nav-bar-centre {
	border:0px solid #ccc;
    border-width:0px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

#nav-bar-centre ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fcfcfc;
}

#nav-bar-centre li {
	margin: auto;
    text-align: center;
    display:inline;
}

#nav-bar-centre li a {
    display: inline-block;
    color: #303030;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 5px 40px;
    font-family: verdana;
    font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
#nav-bar-centre li a:hover {
	color: #5b5b5b;
	transition-duration: 0.5s;
}

#musiccontainer {
    float: left;
    display: inline;
    width: 20%;
    background: #2e6dd3;
    height: 250px;
    margin: 20px;
    box-shadow: 20px;
}

#rowcontainer {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-left: 6%;
}

#line {
    width: 90%;
    height: 1px;
    background-color: #6b6b6b;
    margin-left: 5%;
}

h2 {
    font-family: arial;
    color: #333333;
}